@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

.content {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #e0f7fa;
}

.column {
    width: 100%;
}

.left-side, .right-side {
    flex: 1;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: #fff;
    margin: 5px 0;
    width: 97.5%;
}

.search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
}

.search-button {
    padding: 10px 20px;
    border: none;
    background-color: #00796b;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button.show-location-button {
    background-color: #388e3c;
}

.search-button:hover {
    background-color: #004d40;
}

.show-location-button:hover {
    background-color: #2e7d32;
}

.city-name {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #00796b;
}

.temperature {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.temperature-options, .data-options {
    margin-bottom: 20px;
}

.temperature-options label, .data-options label {
    margin-right: 10px;
    font-weight: 500;
}

.weather-info {
    text-align: center;
}

.weather-icon {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.additional-info p {
    margin: 5px 0;
    font-size: 1rem;
}

.right-side {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow-y: auto;
    margin-top: .5rem;
}

.forecast-container {
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.forecast-card {
    flex: 0 0 auto;
    width: 300px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px;
    background-color: #80deea;
    margin-top: .5rem;
    transition: transform 0.3s ease;
}

.forecast-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.forecast-card h3 {
    margin-bottom: 10px;
    font-size: 1.25rem;
}

.forecast-card p {
    margin: 5px 0;
}

.gif {
    float: right;
}

.gif img {
    max-width: 100%;
}

.keep-safe-gif {
    margin-top: -300px !important;
    float: right !important;
}

.hot-day-gif {
    margin-top: -200px !important;
    margin-right: 60px;
    float: right !important;
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.city-not-found {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.95); /* Use rgba for transparency */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards; /* Animation for fading in */
}

@keyframes fadeIn {
    0% {
    opacity: 0;
      transform: translate(-50%, -50%) scale(0.8); /* Start smaller */
    }
    100% {
    opacity: 1;
      transform: translate(-50%, -50%) scale(1); /* Full size */
    }
}

.error-dialog {
    position: relative;
    z-index: 1001; /* Ensure the dialog content is above the backdrop-filtered background */
}

.error-dialog button {
    margin-top: 10px;
    background-color: #007bff; /* Blue button color */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.error-dialog button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}